html,
body {
  font-family: 'Lora', serif !important;
  height: 100%;
  margin: 0;
  background-color: #fbfbfb;
}

.font {
  font-family: 'Lora', serif !important;
}

p {
  font-family: 'Lora', serif !important;
  font-size: 120%;
  line-height: 150%;
}

section {
  height: 100vh;
}

/*section:nth-child(2) {
  background: lightblue;
}
section:nth-child(3) {
  background: lightgreen;
}*/

section#title {
  color: white;
  font-size: 450%;
  text-align: center;
  background: url('img/title-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; 
}

.middle.valign {
  height: 100vh;
  -webkit-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack:center;
  -webkit-justify-content:center;
  -ms-flex-pack:center;
  justify-content:center;
}

.references {
  list-style-type: none;
  counter-reset: elementcounter;
  padding-left: 0;
}

.references li:before {
  content: "[" counter(elementcounter) "] ";
  counter-increment:elementcounter;
}